.rotation{
    background-color: red;
    width: 100px;
    height: 100px;
    position: absolute;

    animation: rotation 0.0005s linear infinite;
}

@keyframes rotation {
0%{
    transform: rotate(0deg);
}

100%{
transform: rotate(360deg);
}
}